@import '~bootstrap/scss/bootstrap';


#chatbox-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #000000;
}

#chatbox-header {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

#chatbox-body {
    height: 250px;
    overflow-y: auto;
    background-color: white;
}

#chatbox-input {
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
}

/* Đảm bảo các thành phần không bị che phủ */
.fixed-bottom {
    position: fixed;
    width: 300px;
    /* Điều chỉnh theo nhu cầu của bạn */
    max-width: 100%;
}

.chat-body {
    height: 300px;
    padding: 10px;

    .message {
        width: 80%;
        margin-bottom: 15px;
        border-radius: 8px;
    }

    .message p {
        padding: 5px;
        max-width: 70%;
    }

    .message.sent {
        float: right;
        background-color: var(--color-primary);
        color: #fff;
    }

    .message.received {
        float: left;
        background-color: #e5e5e5;
    }
}
.btnsend{
    background-color: var(--color-primary);
}
:root{
    --color-primary: #0866ff
}