@import '~bootstrap/scss/bootstrap';

.nav-container{
    display: flex;
    align-items: center;
    .nav-brand,.nav-link{
        vertical-align: middle;
    }
    .nav-link{
        display: flex;
        align-items: center;
    }
    .link{
        font-size: 4vmin;
        vertical-align: middle;
        margin-left: 5vmin;
    }
    .link a.active{
        color: white;
    }
}

